@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    background-image: url('https://media.istockphoto.com/id/1304681590/photo/product-showcase-with-spotlight-black-studio-room-background-use-as-montage-for-product.webp?b=1&s=170667a&w=0&k=20&c=svZfr5ALV7Veu6RwCQNHThg6xori_recC94JEIJMbEk=');
    background-repeat: no-repeat;
    background-size: cover;
       
}
/* .slider-container {
    background-color: rgb(255, 0, 4);
}
.slider-list {
    background-color: rgb(255, 0, 4);
} */
.color{
    background-color: rgb(255, 0, 4);

}
.card-body{
    background-color: rgb(255, 0, 4);

}


.blur {
    filter: blur(1.5px); 
  }
  
